.register-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-bottom: 20px;

    .input-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .button-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 50px;
    }
}
