.card {
    background-color: $lightestGrey;
    border-radius: 4px;
    color: $darkGrey;

    .card-header {
        align-items: center;
        border-bottom: 2px solid;
        display: flex;
        justify-content: space-between;
        padding: $spacing-xs $spacing-md;

        .title {
            color: $darkGrey;
            font-size: $font-md;
            font-weight: 500;
        }
        .icon-container {
            display: flex;

            .icon {
                background-color: darken($lightestGrey, 5);
                border-radius: 50%;
                box-sizing: border-box;
                cursor: pointer;
                fill: transparent;
                height: 32px;
                overflow: hidden;
                padding: 2px;
                stroke: $grey;
                transition: background-color 350ms
                        cubic-bezier(0.23, 1, 0.32, 1),
                    stroke 350ms cubic-bezier(0.23, 1, 0.32, 1);
                width: 32px;

                &:hover {
                    background-color: darken($lightestGrey, 10);
                }
            }
            .done-icon {
                &:hover {
                    stroke: darken($green, 10);
                }
            }
            .archive-icon {
                &:hover {
                    stroke: darken($blue, 10);
                }
            }
            .return-icon {
                transform: rotate(-90deg);

                &:hover {
                    stroke: darken($yellow, 10);
                }
            }
            .remove-icon {
                margin-left: 16px;

                &:hover {
                    stroke: darken($red, 10);
                }
            }
        }
    }

    .card-body {
        color: $darkGrey;
        font-size: $font-standard;
        padding: $spacing-md;

        .description {
            display: block;
            white-space: pre-wrap;
        }
    }

    .card-footer {
        align-items: center;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        padding: $spacing-xxs $spacing-md $spacing-sm $spacing-md;

        .tag {
            color: $grey;
            font-weight: 500;
            padding-bottom: 2px;
            padding-top: 2px;
        }
        .date {
            background-color: $grey;
            border-radius: 12px;
            color: $lightestGrey;
            padding: 2px 7px;
        }
    }

    .list {
        list-style-type: none;
        padding-left: 25px; // do not change

        li {
            align-items: center;
            display: flex;
            height: 22px;
            margin-bottom: 6px;
        }
        li::before {
            color: $grey;
            content: '•';
            display: inline-block;
            font-size: $font-standard;
            font-weight: 500;
            margin-left: -15px;
            width: 24px;
        }
    }

    .checklist {
        list-style-type: none;
    }
}
