.card {
    background-color: $lightestGrey;
    border-radius: 4px;
    color: $darkGrey;

    .card-header {
        align-items: center;
        border-bottom: 2px solid;
        display: flex;
        justify-content: space-between;
        padding: $spacing-xs $spacing-md;

        &__title {
            color: $darkGrey;
            font-size: $font-md;
            font-weight: 500;
        }

        &__icon-container {
            display: flex;

            .icon {
                background-color: darken($lightGrey, 10);
                border-radius: 50%;
                box-sizing: border-box;
                cursor: pointer;
                fill: transparent;
                height: 32px;
                overflow: hidden;
                padding: 2px;
                stroke: $lightestGrey;
                transition: background-color 350ms cubic-bezier(0.23, 1, 0.32, 1),
                    stroke 350ms cubic-bezier(0.23, 1, 0.32, 1);
                width: 32px;
            }
            .done-icon {
                &:hover {
                    background-color: darken($green, 0);
                }
            }
            .archive-icon {
                &:hover {
                    background-color: darken($blue, 10);
                }
            }
            .return-icon {
                padding-top: 8px;
                transform: rotate(-90deg);

                &:hover {
                    background-color: darken($yellow, 10);
                }
            }
            .remove-icon {
                margin-left: 16px;
                padding: 7px;

                &:hover {
                    background-color: darken($red, 0);
                }
            }
        }
    }

    .card-body {
        color: $darkGrey;
        font-size: $font-standard;
        max-height: calc(100vh - 260px);
        overflow-y: scroll;
        padding: $spacing-md;

        &__description {
            display: block;
            white-space: pre-wrap;
        }

        &__list {
            list-style-type: none;

            .bullet {
                color: $grey;
                display: inline-block;
                font-size: $font-standard;
                font-weight: 500;
                margin-right: 12px;
            }
            li {
                align-items: center;
                display: flex;
                margin-bottom: 6px;
                min-height: 22px;
            }
        }

        &__checklist {
            list-style-type: none;
        }
    }

    .card-footer {
        align-items: center;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        padding: $spacing-xxs $spacing-md $spacing-sm $spacing-md;
        position: relative;

        &__tag {
            color: $grey;
            font-weight: 500;
            padding-bottom: 2px;
            padding-top: 2px;
        }

        &__date {
            background-color: $grey;
            border-radius: 12px;
            color: $lightestGrey;
            padding: 2px 7px;
        }

        &__overlay {
            background: linear-gradient(
                to top,
                rgba($lightestGrey, 1) 0%,
                rgba($lightestGrey, 0.738) 19%,
                rgba($lightestGrey, 0.541) 34%,
                rgba($lightestGrey, 0.382) 47%,
                rgba($lightestGrey, 0.278) 56.5%,
                rgba($lightestGrey, 0.194) 65%,
                rgba($lightestGrey, 0.126) 73%,
                rgba($lightestGrey, 0.075) 80.2%,
                rgba($lightestGrey, 0.042) 86.1%,
                rgba($lightestGrey, 0.021) 91%,
                rgba($lightestGrey, 0.008) 95.2%,
                rgba($lightestGrey, 0.002) 98.2%,
                rgba($lightestGrey, 0) 100%
            );
            bottom: 100%;
            height: 16px;
            left: 0;
            position: absolute;
            right: 0;
        }
    }
}
