.header-nav {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;

    ul {
        list-style-type: none;
        position: relative;
        margin-left: 0px;
        transition: margin .1s ease-in;
        margin-bottom: 12px;
    }
    ul.open {
        margin-left: 240px;
    }

    .nav-element {
        display: inline-block;
        margin: 0;
        font-size: $font-md;
        font-weight: 300;
        width: 110px;
        text-align: center;

        a {
            width: 110px;
            text-decoration: none;
            color: $grey;
            padding: $spacing-xs $spacing-md;
            transition: color .1s ease-in;
            &:hover {
                color: $lightGrey;
            }
        }
        .active-link {
            color: $lightGrey;
        }
    }
}


.indicator-line {
    position: absolute;
    bottom: -10px;
    left: 0;
    height: 2px;
    width: 110px;
    background-color: $lightGrey;
    transition: left .1s ease-in, background-color .1s ease-in;
}
