.loading-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title {
        margin-bottom: 20px;
        color: $darkGrey;
        font-size: $font-standard;
    }
}

.loading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    height: 5px;
    width: 60px;
    
    .loading-dot {
        width: 5px;
        height: 5px;
        border-radius: 50%;
        position: absolute;
        background-color: $grey;
        transition: top .1s ease-in, opacity .1s ease-in;
    }

    .dot-1 {
        left: 0;
    }
    .dot-2 {
        left: 50%;
        transform: translateX(-50%);
    }
    .dot-3 {
        right: 0;
    }

    .hidden {
        top: -5px;
        opacity: 0;
    }
    .visible {
        top: 0px;
        opacity: 1;
    }
}
.alternative {
    // transform: rotate(-90deg);
    width: 30px;
    height: 30px;

    .loading-dot {
        width: 2px;
        height: 30px;
        border-radius: 0px;
        background-color: $darkGrey;
    }
}
