.loading-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .title {
        color: $grey;
        font-size: $font-md;
        font-weight: 400;
        margin-bottom: 22px;
    }
}

.loading {
    align-items: center;
    display: flex;
    height: 5px;
    justify-content: space-between;
    position: relative;
    width: 60px;

    .loading-dot {
        background-color: $grey;
        border-radius: 50%;
        height: 5px;
        position: absolute;
        transition: top 350ms cubic-bezier(0.23, 1, 0.32, 1),
            opacity 350ms cubic-bezier(0.23, 1, 0.32, 1);
        width: 5px;
    }

    .dot-1 {
        left: 0;
    }
    .dot-2 {
        left: 50%;
        transform: translateX(-50%);
    }
    .dot-3 {
        right: 0;
    }

    .hidden {
        opacity: 0;
        top: -5px;
    }
    .visible {
        opacity: 1;
        top: 0px;
    }
}
.alternative {
    height: 5px;
    width: 30px;

    .loading-dot {
        background-color: $grey;
    }
}
