.not-found {
    padding: $spacing-xl;
    text-align: center;

    h1 {
        color: $red;
        font-size: $font-xl;
        font-weight: 400;
    }
    h2 {
        font-size: $font-lg;
        margin-bottom: $spacing-lg;
    }
    p {
        font-size: $font-md;
        font-weight: 400;
        letter-spacing: 0.3px;
    }
}

.not-found-alt {
    text-align: center;

    p {
        font-size: $font-md;
        font-weight: 400;
    }
}
