.not-found {
	padding: $spacing-lg;
	text-align: center;

	h2 {
		font-size: $font-xl;
		color: $red;
	}
	h3 {
		font-size: $font-lg;
		margin-bottom: $spacing-md;
	}
}

.not-found-alt {
	max-width: 300px;
	text-align: center;
}
