.btn-add-new {
    background-color: $lightGrey;
    border: 2px solid $darkGrey;
    border-radius: 64px;
    bottom: $spacing-md;
    cursor: pointer;
    overflow: hidden;
    position: fixed;
    right: $spacing-md;
    transition: background-color 350ms cubic-bezier(0.23, 1, 0.32, 1);

    a {
        display: block;
        height: 28px;
        padding: $spacing-sm;
        stroke: $darkGrey;
        transition: stroke 350ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    &:hover {
        background-color: $lightestGrey;

        a {
            stroke: $themeColor;
        }
    }

    @media screen and (min-width: 768px) {
        background-color: transparent;
        border: 2px solid $lightGrey;
        bottom: $spacing-lg;
        right: $spacing-lg;
        stroke: $lightGrey;

        a {
            padding: $spacing-md;
            stroke: $lightGrey;
            transition: stroke 350ms cubic-bezier(0.23, 1, 0.32, 1);
        }

        &:hover {
            border: 2px solid $lightestGrey;

            a {
                stroke: $darkGrey;
            }
        }
    }
}

.btn-menu {
    cursor: pointer;
    height: 28px;
    right: $spacing-md;
    position: fixed;
    stroke: $darkGrey;
    top: $spacing-md;
    transition: stroke 350ms cubic-bezier(0.23, 1, 0.32, 1),
        opacity 350ms cubic-bezier(0.23, 1, 0.32, 1);
    width: 28px;

    &:hover {
        stroke: $themeColor;
    }

    @media screen and (min-width: 768px) {
        left: 26px;
        stroke: $lightGrey;
        top: 26px;
        transition: stroke 350ms cubic-bezier(0.23, 1, 0.32, 1),
            left 350ms cubic-bezier(0.23, 1, 0.32, 1),
            opacity 350ms cubic-bezier(0.23, 1, 0.32, 1),
            transform 350ms cubic-bezier(0.23, 1, 0.32, 1);

        &:hover {
            stroke: $lightestGrey;
        }
    }
}
.btn-menu.open {
    cursor: default;
    opacity: 0;
    pointer-events: none;

    @media screen and (min-width: 768px) {
        left: 265px;
        opacity: 0.25;
        transform: rotate(90deg);
    }
}

.side-nav {
    background-color: $lightestGrey;
    bottom: 0px;
    height: 120%; // mobile height jumping
    left: -100%;
    overflow: hidden;
    position: fixed;
    top: 0px;
    transition: left 350ms cubic-bezier(0.23, 1, 0.32, 1);
    width: 100%;

    @media screen and (min-width: 768px) {
        left: -240px;
        transition: left 350ms cubic-bezier(0.23, 1, 0.32, 1);
        width: 240px;
    }

    .side-nav-top {
        align-items: center;
        display: flex;
        height: 60px;
        justify-content: flex-end;
        padding-right: $spacing-md;

        @media screen and (min-width: 768px) {
            height: 80px;
            padding-right: 26px;
        }

        .btn-close-side-nav {
            cursor: pointer;
            height: 28px;
            stroke: $darkGrey;
            transition: stroke 350ms cubic-bezier(0.23, 1, 0.32, 1);
            width: 28px;

            &:hover {
                stroke: $themeColor;
            }
        }
    }

    ul {
        list-style-type: none;
        margin-left: auto;
        margin-right: auto;
        margin-top: $spacing-md;
        text-align: center;
        width: 100px;

        @media screen and (min-width: 768px) {
            margin-left: 0;
            text-align: left;
            width: auto;
        }
    }

    .nav-element {
        font-size: $font-md;
        font-weight: 400;

        a {
            color: $darkGrey;
            cursor: pointer;
            display: block;
            padding: 20px 0 10px 0px;
            margin: 0;
            text-decoration: none;
        }
        .active-link {
            border-bottom: 2px solid $darkGrey;
            color: $themeColor;
            padding: 20px 0 8px 0px;
        }

        @media screen and (min-width: 768px) {
            a {
                padding: $spacing-md 0 $spacing-md $spacing-lg;
                transition: color 350ms cubic-bezier(0.23, 1, 0.32, 1),
                    padding 350ms cubic-bezier(0.23, 1, 0.32, 1),
                    box-shadow 350ms cubic-bezier(0.23, 1, 0.32, 1),
                    border-left 350ms cubic-bezier(0.23, 1, 0.32, 1);

                &:hover {
                    border-left: 4px solid $grey;
                    color: $themeColor;
                    padding-left: $spacing-lg + 4px;
                }
            }
            .active-link {
                border-bottom: none;
                border-left: 4px solid $darkGrey;
                padding: $spacing-md 0 $spacing-md 36px;
            }
        }
    }
    .nav-element:nth-of-type(1) .active-link {
        @media screen and (min-width: 768px) {
            border-left: 4px solid $red;
        }
        @media screen and (max-width: 767px) {
            border-bottom: 2px solid $red;
        }
    }
    .nav-element:nth-of-type(2) .active-link {
        @media screen and (min-width: 768px) {
            border-left: 4px solid darken($blue, 10);
        }
        @media screen and (max-width: 767px) {
            border-bottom: 2px solid $blue;
        }
    }
    .nav-element:nth-of-type(3) {
        margin-top: $spacing-lg;
    }
    .logout {
        color: $red;
        cursor: pointer;
        padding: $spacing-md 0 $spacing-md 0px;

        @media screen and (min-width: 768px) {
            padding: $spacing-md 0 $spacing-md $spacing-lg;
            transition: color 350ms cubic-bezier(0.23, 1, 0.32, 1);

            &:hover {
                color: darken($red, 10);
            }
        }
    }
    .version {
        font-size: $font-sm;
        left: $spacing-md;
        position: absolute;
        top: $spacing-md;

        @media screen and (min-width: 768px) {
            left: $spacing-lg;
            top: 26px;
        }
    }
}
.side-nav.open {
    left: 0px;
}
