.tags-container {
    align-items: baseline;
    bottom: 16px;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap-reverse;
    height: 60px;
    justify-content: center;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    right: 0;
    width: 550px;

    .tag {
        background-color: transparent;
        color: $grey;
        font-size: $font-md;
        font-weight: 500;
        margin: 0 $spacing-xxs;
        padding: $spacing-xxs;
        transition: color 350ms cubic-bezier(0.23, 1, 0.32, 1);

        &:hover {
            color: $lightestGrey;
        }
    }
    .active-tag {
        color: $red;
    }

    @media screen and (max-width: 767px) {
        display: none;
    }
}
