@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500');

// COLORS
$themeColor: #202124;
$darkGrey: #323639;
$grey: #9b9b9b;
$lightGrey: #c8c8c8;
$lightestGrey: #d8d8d8;
$red: #d9534f;
$yellow: #faa825;
$green: #5cb85c;
$blue: #5bc0de;

// SPACING
$spacing-xxs: 4px;
$spacing-xs: 8px;
$spacing-sm: 12px;
$spacing-md: 16px;
$spacing-lg: 32px;
$spacing-xl: 64px;

// FONT
$font-standard: 12px;
$font-sm: 10px;
$font-md: 14px;
$font-lg: 20px;
$font-xl: 40px;
$font-title: 52px;
