@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500');

// COLORS

$themeColor: #1a1a1a;
$darkGrey: #747474;
$grey: #bdbdbd;
$lightGrey: #e3e3e3;
$red: #d9534f;
$yellow: #faa825;
$green: #5cb85c;
$blue: #5bc0de;
