.header-desktop {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;

    ul {
        list-style-type: none;
        transition: margin .15s ease-in;
        position: relative;

        .slider-line {
            position: absolute;
            bottom: -10px;
            left: 0;
            height: 2px;
            width: 110px;
            background-color: $lightGrey;
            transition: left .1s ease-in, background-color .1s ease-in;
        }
    }

    .nav-element {
        display: inline-block;
        margin: 0;
        font-size: 18px;
        font-weight: 300;
        width: 110px;
        text-align: center;

        a {
            width: 110px;
            text-decoration: none;
            color: $grey;
            padding: 10px 30px;
            transition: color .15s ease-in;
            &:hover {
                color: $lightGrey;
            }
        }
        .active-link {
            color: $lightGrey;
        }
    }
}

.btn-menu {
    cursor: pointer;
    position: fixed;
    top: 25px;
    left: 25px;
    width: 30px;
    height: 30px;
    stroke: $grey;
    transition: stroke .15s ease-in,
                left .15s ease-in,
                opacity .15s ease-in,
                transform .15s ease-in;
    &:hover {
        stroke: $lightGrey;
    }
}

.btn-add-new {
    cursor: pointer;
    position: fixed;
    bottom: 25px;
    right: 25px;
    width: 30px;
    height: 30px;
    padding: 10px;
    stroke: $grey;
    border: 2px solid $lightGrey;
    border-radius: 50%;
    transition: stroke .15s ease-in, background-color .15s ease-in;
    &:hover {
        background-color: $lightGrey;
        stroke: $themeColor;
    }
    @media screen and (max-width: 767px) {
        stroke: $darkGrey;
        border: 2px solid $darkGrey;
        background-color: $lightGrey;

    }
}

.side-nav {
    height: 120%;
    position: fixed;
    top: 0px;
    bottom: 0px;
    width: 240px;
    overflow: hidden;
    background-color: $lightGrey;
    transition: left .15s ease-in;

    .side-nav-top {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 80px;
        padding-right: 25px;

        .btn-close-side-nav {
            cursor: pointer;
            width: 30px;
            height: 30px;
            stroke: $darkGrey;
            transition: stroke .15s ease-in;
            &:hover {
                stroke: $themeColor;
            }
        }
    }

    ul {
        list-style-type: none;
        margin-top: 20px;
    }

    .nav-element {
        font-size: 18px;
        font-weight: 300;

        a {
            margin: 0;
            padding: 15px 0 15px 30px;
            display: block;
            text-decoration: none;
            color: $darkGrey;
            transition: color .15s ease-in, padding .15s ease-in, box-shadow .15s ease-in;
            cursor: pointer;
            &:hover {
                color: $themeColor;
                padding-left: 35px;
                box-shadow: 4px 0 0 $darkGrey inset;
            }
        }
        .active-link {
            color: $themeColor;
            box-shadow: 4px 0 0 $darkGrey inset;
            padding-left: 35px;
        }
    }
    .nav-element:nth-of-type(3) {
        margin-top: 30px;
    }
    .logout {
        color: $darkGrey;
        padding: 15px 0 15px 30px;
        transition: color .15s ease-in;
        cursor: pointer;
        &:hover {
            color: $red;
        }
    }
}

.side-nav-mobile {
    height: 120%;
    position: fixed;
    top: 0px;
    bottom: 0px;
    width: 100%;
    overflow: hidden;
    background-color: $lightGrey;
    transition: left .15s ease-in;

    .side-nav-top {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 80px;
        padding-right: 25px;

        .btn-close-side-nav {
            cursor: pointer;
            width: 30px;
            height: 30px;
            stroke: $darkGrey;
            transition: stroke .15s ease-in;
            &:hover {
                stroke: $themeColor;
            }
        }
    }

    ul {
        list-style-type: none;
        margin-top: 20px;
    }

    .nav-element {
        font-size: 18px;
        font-weight: 300;

        a {
            margin: 0;
            padding: 15px 0 15px 30px;
            display: block;
            text-decoration: none;
            color: $darkGrey;
            transition: color .15s ease-in, padding .15s ease-in, box-shadow .15s ease-in;
            cursor: pointer;
            &:hover {
                color: $themeColor;
                padding-left: 35px;
                box-shadow: 4px 0 0 $darkGrey inset;
            }
        }
        .active-link {
            color: $themeColor;
            box-shadow: 4px 0 0 $darkGrey inset;
            padding-left: 35px;
        }
    }
    .nav-element:nth-of-type(3) {
        margin-top: 30px;
    }
    .logout {
        color: $red;
        padding: 15px 0 15px 30px;
        cursor: pointer;
    }
}
