.main-page {
    min-height: 100vh;
    overflow-x: hidden;
    position: relative;

    .main-container {
        height: 100%;
        padding: 64px 4px 4px 4px; // TEMP

        @media screen and (min-width: 768px) {
            max-height: calc(100vh - 140px);
            padding: 80px 22px 60px 22px; // TEMP
            transition: margin-left 350ms cubic-bezier(0.23, 1, 0.32, 1);
        }
    }
    .main-container.menu-open {
        @media screen and (min-width: 768px) {
            margin-left: 240px;
        }
    }

    nav {
        // mobile header & title
        @media screen and (max-width: 767px) {
            align-items: center;
            background-color: $lightestGrey;
            border-bottom: 1px solid $grey;
            box-sizing: border-box;
            display: flex;
            height: 60px;
            justify-content: center;
            position: fixed;
            width: 100%;
            z-index: 20;
        }
        .mobile-title h1 {
            color: $darkGrey;
            font-size: $font-lg;
            font-weight: 400;
        }
    }

    .loading-container {
        align-items: center;
        display: flex;
        height: calc(100vh - 70px);

        @media screen and (min-width: 768px) {
            height: calc(100vh - 100px);
        }
    }
}
