.main-page {
    min-height: 100vh;
    position: relative;
    overflow-x: hidden;

    .main-container {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 100px;
    }
}
